@media only screen and (max-width: 480px) {
  main {
    padding: 0;
  }

  main .container {
    max-width: 100%;
  }

  main .container .row > div {
    padding: 0 5px;
  }

  main .container .filter {
    margin-bottom: 10px;
  }

  main .container .topic-item .topic-item-content {
    padding: 15px;
  }

  main .container .topic-item .topic-vote,
  main .container .profile .profile-info .tab-ui .topic-vote {
    position: unset;
    top: unset;
    left: unset;
    flex-direction: row !important;
    justify-content: center;
    margin: 10px 0 !important;
  }

  main .container .topic-item .topic-vote button,
  main .container .profile .profile-info .tab-ui .topic-vote button {
    margin: 0 5px !important;
    width: 30px;
    height: 30px;
    font-size: 30px;
  }

  main .container .right-sidebar a.new-topic {
    margin-top: 3rem;
  }

  main .container .left-sidebar .nav,
  main .container .right-sidebar .nav {
    margin-bottom: 4rem;
  }
}
