@media only screen and (max-width: 480px) {
  main {
    padding: 0;
  }

  main .container {
    max-width: 100%;
    flex-direction: column;
    padding: 5px;
  }

  main .container .row > div {
    padding: 0 5px;
  }

  main .container .filter {
    margin-bottom: 10px;
  }

  main .container .topic-item .topic-item-content {
    padding: 15px;
  }

  main .container .topic-item .topic-vote,
  main .container .profile .profile-info .tab-ui .topic-vote {
    position: unset;
    top: unset;
    left: unset;
    flex-direction: row !important;
    justify-content: center;
    margin: 10px 0 !important;
  }

  main .container .topic-item .topic-vote button,
  main .container .profile .profile-info .tab-ui .topic-vote button {
    margin: 0 5px !important;
    width: 30px;
    height: 30px;
    font-size: 30px;
  }

  main .container .right-sidebar a.new-topic {
    margin-top: 3rem;
  }

  main .container .left-sidebar .nav,
  main .container .right-sidebar .nav {
    margin-bottom: 4rem;
  }

  main .container .thread .topic-item-content .tags-container {
    flex-direction: column;
  }

  main .container .thread .topic-item-content > div {
    margin-bottom: 0 !important;
  }

  main .container .thread .add-comment {
    padding: 10px;
    padding-top: 15px !important;
  }

  main .container .thread .comments-container {
    padding: 5px !important;
    overflow: hidden;
  }

  main
    .container
    .thread
    .comments-container
    .comment
    .comment-info
    .comment-meta {
    flex-direction: column !important;
    align-items: unset !important;
  }

  main .container .topic-item .topic-item-content .topic-title {
    margin: 0 !important;
  }

  .navbar-collapse {
    margin: 1rem 0 0 0 !important;
  }

  header .navbar-collapse > div {
    margin-left: unset;
    margin-bottom: 1rem;
  }
}
