# App Global Variables
PORT = 5000
REACT_APP_URL = ''

# MongoDB URL
MONGODB_URL_CONNECTION = ''

# JWT Secret Keys And Their Expiration.
ACCESS_TOKEN_SECRET_KEY = ''
REFRESH_TOKEN_SECRET_KEY = ''
EMAIL_VERIFY_TOKEN_SECRET_KEY = ''
RESET_PASSWORD_TOKEN_SECRET_KEY = ''


ACCESS_TOKEN_EXPIRATION = '5m'
REFRESH_TOKEN_EXPIRATION = '1d'
EMAIL_VERIFY_TOKEN_EXPIRATION = '20m'
RESET_PASSWORD_TOKEN_EXPIRATION = '20m'

# Cloudinary Setup
CLOUDINARY_NAME = ''
CLOUDINARY_API_KEY = ''
CLOUDINARY_API_SECRET = ''

# SMTP Setup
SMTP_SERVER = ''
SMTP_PORT = ''
SMPT_USERNAME = ''
SMPT_PASSWORD = ''